.copyright {
    text-align: center;
  }
  footer {
    background-color: rgb(70, 65, 65);
    color: white;
  }
  nav {
    position: sticky !important;
    z-index: 10;
    width: 100%;
    top: 0 !important;
  }
  